# Python cache directories
__pycache__/
*.py[cod]

# Environment variables
.env

# Byte-compiled files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
venv/
backend-env/
ENV/
env.bak/
venv.bak/
dist/
build/
*.egg-info/
myenv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

graph_rag/Graph
